<!-- Login Form Starts-->
<div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">Login</mat-toolbar>
      <mat-card>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
          <mat-form-field class="p-3">
            <mat-icon  color="primary" matPrefix>person_outline</mat-icon>
            <input autofocus type="text" autocomplete="off" matInput placeholder="Username" formControlName="username">
          </mat-form-field>

          <mat-form-field class="p-3">
            <mat-icon  color="primary" matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <mat-error *ngIf="noUser"> No User Found</mat-error>
          <mat-error *ngIf="wrongPassword"> Incorrect Password</mat-error>
          <mat-error *ngIf="submitted && loginForm.invalid"> Enter Login Details</mat-error>
          <button type="submit" mat-raised-button color="primary">Login <mat-icon>arrow_right_alt</mat-icon></button>
        </form>
      </mat-card>
    </div>
</div>
<!-- Login Form Ends-->
